.search {
    padding: 3rem 0;
}

.search__form {
    width: 100%;
    max-width: 64rem;
    margin: auto;
    position: relative;
    display: flex;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search__button {
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search__button:hover {
    filter: contrast(1.1);
}

.search__button svg {
    width: 4rem;
    display: inline-block;
    position: relative;
}

.search__button svg path:first-child {
    fill: #fff;
}

.search__input {
    padding: 1rem;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ececec;
    outline: none;
    font-size: 1.6rem;
    color: #7e7e7e;
    width: 100%;
    display: block;
    font-family: 'Roboto', sans-serif;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search__input:focus {
    border: 1px solid var(--color-accent);
}
.search__input:active {
    border: 1px solid #fff;
}
